.country {
  // .country__btn
  &__btn {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.36s ease-in-out;

    @include laptop {
      gap: 8px;
    }

    &:hover,
    &:focus {
      color: $hover-link;
    }

    &:active {
      color: #8793ff;
    }
  }

  // .country__list
  &__list {
    display: none;
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(19 / 16);
    background: $light;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 16px;
    // display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 9px;

    @include desktop {
      font-size: 16px;
    }
  }

  // .country__item
  &__item {
    &_active {
      color: $link;
    }
  }
}
