.header {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 20);
  padding: 16px 0 20px;

  @include tablet {
    padding: 24px 0;
  }

  @include laptop {
    font-size: 20px;
  }

  // .header__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px 0;
  }

  // .header__logo
  &__logo {
    margin-right: auto;
  }

  // .header__navigation
  &__navigation {
    order: 1;
    flex-basis: 100%;

    @media (min-width: 560px) {
      order: 0;
      flex-basis: auto;
      margin-right: 50px;
    }

    @include laptop {
      margin-right: 84px;
    }
  }

  // .header__country
  &__country {
  }
}

.logo {
}

.navigation {
  // .navigation__list
  &__list {
  }

  // .navigation__item
  &__item {
  }

  // .navigation__link
  &__link {
  }
}
