// Цвета
$light: #fff;
$dark: #000;
$link: #2238FF;
$hover-link: #0017e5;
$active-btn-color: #8793FF;
$border-color: #70a5d5;
$timer-bg: #a3b6c7;
$light-grey-color: #ececec;
$grey-color: #9e9c9c;

// Медиа-запросы
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// Шрифты
@mixin font($name, $weight) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      display: swap;
    }
    src: url('../assets/fonts/#{ $name }-#{ $weight }.woff2') format('woff2'),
      url('../assets/fonts/#{ $name }-#{ $weight }.woff') format('woff');
  }
}
